<h1 class="liste-title"><%= list_title %></h1>
    
<% if(posts.length){ %>

    <ul class="media-list">
        <% _.each( posts, function( post ){ %>
            <div class="media">
                <% if( post.thumbnail.src && post.thumbnail.src.length ){ %>
                    <img class="media-object" src="<%= post.thumbnail.src %>" style="width: 100%; height: auto;">
                <% } %>	
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="<%= TemplateTags.getPostLink(post.id) %>" class="pull-left"><%= post.title %></a>
                        <br /><small class="small"><%= TemplateTags.formatDate(post.date,'d/m/Y') %></small>
                    </h4>
                    <p><%= post.excerpt %></p>
                    <a href="<%= TemplateTags.getPostLink(post.id) %>" title="En savoir +">En savoir plus</a>
                </div>
            </div>
        <% }); %>
    </ul>
		
<% }else{ %>
        <p>Aucune vidéo!</p>
<% } %>